@import './styles/variables.css';

/* Global Reset additions if needed */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--bg-primary);
  height: 100%;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}